{
  "openapi": "3.1.0",
  "info": {
    "title": "Refined-X Public APIs",
    "version": "1.1.0",
    "description": "Refined-X 构建期只读数据接口与 NLWeb v0.55 Ask endpoint。"
  },
  "servers": [
    {
      "url": "https://refined-x.com/"
    }
  ],
  "paths": {
    "/ask": {
      "post": {
        "operationId": "askPublicContent",
        "description": "按 NLWeb v0.55 查询 Refined-X 公开内容。Accept: text/event-stream 时返回标准 SSE。",
        "servers": [
          {
            "url": "https://ask.refined-x.com"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NlWebAskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NLWeb answer 或 failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NlWebResponse"
                }
              }
            }
          },
          "400": {
            "description": "非法 NLWeb 请求",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NlWebResponse"
                }
              }
            }
          },
          "429": {
            "description": "请求或预算限流",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NlWebResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/profile.json": {
      "get": {
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "公开个人资料",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/api/articles.json": {
      "get": {
        "operationId": "getArticles",
        "responses": {
          "200": {
            "description": "公开文章索引",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/topics.json": {
      "get": {
        "operationId": "getTopics",
        "responses": {
          "200": {
            "description": "公开主题索引",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/search-index.json": {
      "get": {
        "operationId": "getSearchIndex",
        "responses": {
          "200": {
            "description": "公开静态搜索索引",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "sameAs"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "sameAs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "NlWebAskRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "object",
            "required": [
              "text"
            ],
            "properties": {
              "text": {
                "type": "string",
                "minLength": 1,
                "maxLength": 500
              }
            },
            "additionalProperties": true
          },
          "context": {
            "type": "object",
            "additionalProperties": true
          },
          "prefer": {
            "type": "object",
            "additionalProperties": true
          },
          "meta": {
            "type": "object",
            "properties": {
              "version": {
                "const": "0.55"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "NlWebResponse": {
        "type": "object",
        "required": [
          "_meta"
        ],
        "properties": {
          "_meta": {
            "type": "object",
            "required": [
              "response_type",
              "version"
            ],
            "properties": {
              "response_type": {
                "enum": [
                  "answer",
                  "elicitation",
                  "promise",
                  "failure"
                ]
              },
              "version": {
                "const": "0.55"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "error": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}
